// *****COLORS
        
        //define default theme colors here:
            
            $black: #000;
            $white: #efefef;
            $red: #6d0019;
            $blue: #1E5799;
            $green: #006e2e;
            $yellow: #f1da36;
            $gray: #8C8C8C;
            $l-gray: #D8D8D8;
        
        //text colors
            $body-def: $black;
            
            $link-def: $red;
            $link-hov: $green;