// *****BORDERS
        
        $bord-def: 1px solid;
        
        $bord-dash: 2px dashed;
        $bord-dot: 1px dotted;
        $bord-3d: 3px inset ridge;
        
// *****RADIUSES
    
        $rad-def: 10px;
        
// *****EFFECTS (css3 styling)
        
        $box-shad: 2px 2px 4px $black;